* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header-flipkart {
    height: 56px;
    background-color: #2370f4;
}

.explore-plus-logo img{
    height: 60%;
    position: relative;
    top: 10px;
}

.main-header-container {
    max-width: 1000px;
    margin-left: auto; 
    margin-right: auto;
}


.search-product {
    height: 80%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 0px;
}

.main-header-container input {
    width: 400px;
    padding: 10px 10px;
    
}